<style>


  .te-bottom-hr-line {
    border: 0;
    max-width: 70%;
    margin-left: 0;
    margin-top: -8px;
    border-top: 2px solid;
    border-color: #666666;
  }

  .form-group {
    position: relative;
    min-width: 0;
  }

  .has-search .input-field {
    padding-left: 4.275rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .table-all thead th {
    background-color: #FEFEFE;
    color: #313131;
    font-size: .75rem;
    font-weight: bold;
    line-height: normal;
    font-weight: bolder;
    border-collapse: separate;
    border-top: 1px solid #EDEEEF;
    border-bottom: 1px solid #EDEEEF;
  }

</style>

<div class="card">
  <div class="card-body">
    <label class="layout-header-title">Property Extender</label>
    <hr class="header-label-line">

    <div class="row">
      <div class="col-md-6">
        {{#if propertyList}}
          <div class="table-container"
               style="overflow-y: auto; max-height: 250px; overflow-x: auto; margin-top:10px;">
            <table class="table-all">
              <thead>
              <tr class="line-height-reset">
                <th class="table-data table-bordered">
                  <div>
                    Property
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Code
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Type
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Action
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>


              {{#each propertyList as |property|}}
                <tr>
                  <td class="table-data table-bordered">
                    <div>
                      {{property.name}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <div>
                      {{property.code}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <div>
                      {{property.type}}
                    </div>
                  </td>

                  <td class="table-data table-bordered">
                    <div>
                      <button data-toggle="modal" data-target="#actionEventModal" onClick={{action
                        (action 'editAction' classType.id) value="target.value"}} style="width: 100px;"
                              class="nges-button nges-button-success">Edit
                      </button>
                    </div>
                  </td>
                </tr>
              {{/each}}

              </tbody>
            </table>
          </div>
        {{/if}}

        {{#unless propertyList}}
          <h1 class="instruction-label">No OLM Object Selected / Property Not Found!</h1>
        {{/unless}}
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="olmObject" class="input-field-label">OLM Object</label>
            </div>
            <div class="col-md-8">
              {{nges-core/nges-searchable-dropdown
                dataList=classTypeList
                message="Select OLM Object"
                autocompleteOnSelect=(action 'selectOlmObject')
              }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5" style="margin-top: 10px">
            <label for="stateName" class="input-field-label">Selected OLM Object</label>
          </div>
          <div class="col-md-7">
            <input disabled type="text" class="input-field" id="stateName" value={{formData.olmObject}}>
          </div>
        </div>

      </div>
    </div>


    <hr class="header-label-line">


    <div class="row">

      <div class="col-md-6">
        {{#if attributeList}}
          <div class="table-container"
               style="overflow-y: auto; max-height: 250px; overflow-x: auto; margin-top:10px;">
            <table class="table-all">
              <thead>
              <tr class="line-height-reset">
                <th class="table-data table-bordered">
                  <div>
                    Property
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Code
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Type
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Action
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>


              {{#each attributeList as |attribute|}}
                <tr>
                  <td class="table-data table-bordered">
                    <div>
                      {{attribute.name}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <div>
                      {{attribute.code}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <div>
                      {{attribute.type}}
                    </div>
                  </td>

                  <td class="table-data table-bordered">
                    <div>
                      <button data-toggle="modal" data-target="#actionEventModal" onClick={{action
                        (action 'editAction' classType.id) value="target.value"}} style="width: 100px;"
                              class="nges-button nges-button-success">Edit
                      </button>
                    </div>
                  </td>
                </tr>
              {{/each}}

              </tbody>
            </table>
          </div>
        {{/if}}
      </div>

      <div class="col-md-6">

        <h1 class="instruction-label" style="font-size: 16px;">Registration</h1>
        <div>
          {{nges-core/nges-input-component
            type='text'
            input-field-name="Property Name"
            model=model
            valuePath='classTypeName'
            placeholder='Property Name'
            sectionFirst = 'col-sm-3'
            sectionLast = 'col-sm-9'
            didValidate=didValidate}}
        </div>
        <div>
          {{nges-core/nges-input-component
            type='text'
            input-field-name="Code"
            model=model
            valuePath='classTypeCode'
            placeholder='Code'
            sectionFirst = 'col-sm-3'
            sectionLast = 'col-sm-9'
            didValidate=didValidate}}
        </div>
        <div>
          {{nges-core/nges-input-component
            type='text'
            input-field-name='Display Name'
            model=model
            valuePath='displayName'
            placeholder='Display Name'
            sectionFirst = 'col-sm-3'
            sectionLast = 'col-sm-9'
            didValidate=didValidate}}
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label class="input-field-label">Choose Type</label>
          </div>
          <div class="col-sm-9">
            {{nges-core/nges-searchable-dropdown
              dataList=typeList
              message = "Select Type"
              autocompleteOnSelect=(action 'onChangeType')
            }}
          </div>
        </div>
        {{#if showTypeLengthField}}
          <div>
            {{nges-core/nges-input-component
              type='number'
              input-field-name="Length"
              model=model
              valuePath='typeLength'
              placeholder='Length'
              sectionFirst = 'col-sm-3'
              sectionLast = 'col-sm-9'
              didValidate=didValidate}}
          </div>
        {{/if}}
        {{#if showRefObjectDropDown}}
          <div class="row">
            <div class="col-sm-5">
              <label class="input-field-label">Choose Reference Object</label>
            </div>
            <div class="col-sm-7">
              {{nges-core/nges-searchable-dropdown
                dataList=refObjectList
                message = "Select Reference Object"
                autocompleteOnSelect=(action 'onChangeRefObject')
              }}
            </div>
          </div>
        {{/if}}

        <div class="row" style="margin-top: -3%">
          <div class="col-sm-10"></div>
          <div class="col-sm-2">
            <label class="input-field-label">
              {{input type="checkbox" class="form-check-input" id="optional"  name="option1"}}Optional
            </label>
          </div>
        </div>


        <button id='add' class="nges-button nges-button-success float-right" {{action 'addAction'}}>Add</button>
        <br>

        <br>
        <hr class="te-bottom-hr-line" style="margin-left: 30%">
        <button id='save' class="nges-button nges-button-success float-right" {{action 'saveAction'}}>Save</button>


      </div>

    </div>

  </div>
</div>