{{message}}

<div class="form-group">

  <div class="row">
    <div class="{{sectionFirst}}">
      <label class="input-field-label">{{input-field-name}}</label>
    </div>
    <div class="{{sectionLast}}">
      {{input class="input-field" model=model type=type value=updatedValue placeholder=placeholder name=valuePath maxlength=maxLength}}
      <div class='input-error'>
        {{#if showErrorMessage}}
          <div class='error float-right'>
            <h1 style="color: red;font-size: 12px;">{{v-get model valuePath 'message'}}</h1>
          </div>
        {{/if}}
      </div>

    </div>
  </div>


</div>

