{{yield}}

<style>
  .te-bottom-hr-line {
    border: 0;
    max-width: 100%;
    margin-left: 0;
    border-top: 2px solid;
    border-color: #666666;
  }

</style>

<div class="card">
  <div class="card-body">
    <div>
      <h1 class="layout-header-title">Menu Mapping and Resource Configuration </h1>
      <hr class="header-label-line">
    </div>

    {{!nges-engines/tree-engine/object-to-string menuItems}}

    <div class="row">
      <div class="col-md-5">

        {{#if subMenuList}}
          <h5 class="input-field-label">Menu Item Object Data</h5>
          <div class="table-container" style="overflow-y: auto; max-height: 350px; overflow-x: auto; margin-top:10px;">
            <table class="table-all">
              <thead>
              <tr>
                <th class="table-data table-bordered">
                  <span>Name</span>
                  |
                  <span style="color: #003bb3;">Code</span>

                </th>
                <th class="table-data table-bordered">Data</th>
                <th class="table-data table-bordered">Action</th>
              </tr>
              </thead>
              <tbody>

              {{#each subMenuList as |item|}}
                <tr>
                  <td class="table-data table-bordered">

                    <span> {{item.name}} </span>|

                    <span style="color: #003bb3;">{{item.code}}</span>
                  </td>
                  <td class="table-data table-bordered">
                    {{#each item.stateList as |value|}}
                      <span>{{value.name}},</span><br>
                    {{/each}}
                  </td>
                  <td class="table-data table-bordered">
                    <button {{action 'editItemAction' item }} class="nges-button nges-button-success">Edit</button>
                    <!--<button {{action 'removeItemAction'
                                         item }} class="te-button-all te-button-danger">Delete</button>-->
                  </td>
                </tr>
              {{/each}}

              </tbody>
            </table>
          </div>


        {{/if}}

        {{#unless subMenuList}}
          <h1 class="input-field-label">Select Menu Item and OLM Object</h1>
        {{/unless}}

      </div>

      <div class="col-md-1">
        <div class="vertical-line"></div>
      </div>

      <div class="col-md-6">

        <div class="form-group">
          <div class="row">
            <div class="col-md-2">
              <label for="menuItems" class="input-field-label">Menu Item</label>
            </div>

            <div class="col-md-10">
              {{nges-core/nges-searchable-dropdown
                dataList=menuItems
                autocompleteOnSelect=(action 'selectMenuItem')
              }}
            </div>
            <!--<div class="col-md-9">
              <select class="input-field" id="menuItems" onchange={{action (mut formData.menuItem)

                                                                           value="target.value"}}>

                <option>Select Menu Items</option>
                {{#each menuItems as |item|}}
                  <option value={{nges-engines/tree-engine/object-to-string item}} >{{item.attributes.name}}</option>
                {{/each}}
              </select>

            </div>-->
          </div>
        </div>

        <div class="form-group">
          <div class="row" style="margin-top: -4%">
            <div class="col-md-2">
              <label for="olmObject" class="input-field-label">OLM Object</label>
            </div>

            <div class="col-md-10">
              {{nges-core/nges-searchable-dropdown
                dataList=olmObjects
                autocompleteOnSelect=(action 'selectOlmObject')
              }}
            </div>

          </div>
        </div>


        <div style="margin-top: -4%">
          {{nges-elements/sadhan-dual-list-box
            dualBoxData = dualBoxData
          }}
          {{!nges-engines/tree-engine/object-to-string dualBoxData}}
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <label for="stateName" class="input-field-label">Menu Display Name</label>
            </div>
            <div class="col-md-9">
              <input type="text" placeholder="Enter Label Name" class="input-field" id="stateName"
                     value={{formData.stateName}}
                     oninput={{action (mut formData.stateName) value="target.value"}}>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row" style="margin-top: -2%">
            <div class="col-md-3">
              <label for="stateName" class="input-field-label">Choose Resource</label>
            </div>

            <div class="col-md-9">
              {{nges-core/nges-searchable-dropdown
                dataList=templateList
                autocompleteOnSelect=(action 'selectTemplateList')
              }}
            </div>

          </div>

          <div class="row" style="display: none">
            <div class="col-md-3" style="margin-top: 10px">
              <label for="stateName" class="input-field-label">Selected Template Code</label>
            </div>
            <div class="col-md-9">
              <input disabled type="text" class="input-field" id="stateName" value={{formData.individualSubmenuCode}}
                     oninput={{action (mut formData.individualSubmenuCode) value="target.value"}}>
            </div>
          </div>

        </div>

        <div style="margin-top: -4%">
          <button {{action 'addSubMenu'}} class="nges-button nges-button-success float-right">Select SubMenu</button>
        </div>

        <br>
        <div>
          <hr class="te-bottom-hr-line">
          <button class="nges-button nges-button-success float-right" {{action 'saveData' }} >Save Information</button>
          <!--<button style="margin-right: 30px;" class="button-save float-right" {{action 'updateData' }} >Update
            Information
          </button>-->
        </div>

      </div>

    </div>

  </div>

</div>
