{{yield}}


<nav id="sidebar" class={{if isSidebarHidden 'active'}}>
  <div id="container-fluid card">
    <div class="sidebar-header" style="border-right: 1.2px solid white;border-bottom: 1.2px solid white;">

      {{!--#link-to 'welcome.index' class="navbar-brand app-base-logo" }} {{appName}} {{/link-to--}}


      <div>
        {{#link-to 'welcome.index' class="" }}
          {{nges-base/app-logo-viewer}}
        {{/link-to}}
      </div>


    </div>

    <ul class="list-unstyled">

      {{!log appPanelInformation}}

      {{#if (eq appPanelInformation.appPanelCode 'admin-panel') }}
        {{nges-base/app-submenu-admin-panel
          moduleCode = 'common'
          serviceHolderCode = 'serviceHolderCode'
          menuCode = serviceHolder.code
        }}


        {{nges-base/app-submenu-olm-setup
          moduleCode = 'common'
          serviceHolderCode = 'serviceHolderCode'
          menuCode = 'olm'
        }}

        {{nges-base/app-submenu-rule-engine-setup
          moduleCode = 'common'
          serviceHolderCode = 'serviceHolderCode'
          menuCode = 'rule-engine'
        }}
      {{/if}}



      {{#each moduleList as |module moduleIndex|}}

        <!-- super-admin = role menu -->

        <!-- user-admin = roles menu -->
        {{#unless (eq module.code "user-management")}}


          <li>
            <a href="#pageSubmenu{{moduleIndex}}" data-toggle="collapse" aria-expanded="false"
               class="dropdown-toggle dropdown-toggle-header">{{t  module.name}}</a>
            <hr style="margin-top: 0px; margin-bottom: 0px; background: #d3d3d3;">
            <ul class="list-unstyled collapse show" id="pageSubmenu{{moduleIndex}}">

              {{#each module.serviceHolders as |serviceHolder serviceHolderIndex|}}


                <!--microservice user :: admin panel-->
                {{#if (eq serviceHolder.menuTreeTemplate.code "MICROSERVICE") }}

                  <li style="padding-left: 5px; padding-top: 5px">
                    <a href="#pageSubMenuList{{serviceHolderIndex}}" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle dropdown-toggle-header">{{nges-core/capitalize-first-letter
                      serviceHolder.name}}</a>
                    <ul class="list-unstyled collapse show" id="pageSubMenuList{{serviceHolderIndex}}">

                      {{#each serviceHolder.children as |menu menuIndex|}}


                        <!--new one-->
                        {{#each menu.subMenuList as |subMenu|}}
                          <li class="">
                            {{#link-to
                              'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
                              module.code serviceHolder.menuTreeTemplate.code  menu.code subMenu.code
                              class="nav-link nav-link-active" }} {{nges-core/capitalize-first-letter
                              subMenu.name}}{{/link-to}}
                          </li>
                        {{/each}}

                      {{/each}}
                    </ul>
                  </li>
                {{/if}}


                <!--function admin-->
                {{#if (eq serviceHolder.menuTreeTemplate.code "FUNCTION") }}

                  {{#each serviceHolder.subMenuList as |subMenu|}}

                    {{#link-to
                      'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
                      module.code serviceHolder.menuTreeTemplate.code serviceHolder.code subMenu.code
                      class="nav-link nav-link-active" }} {{t subMenu.name}}
                    {{/link-to}}

                  {{/each}}

                {{/if}}

              {{!log serviceHolder}}

              {{/each}}


            </ul>
          </li>

          <!-- custom menu -->

        {{/unless}}





      {{/each}}




      <!-- custom static menu tree -->
      {{#each menuTemplate as |menu|}}

        {{#if (eq menu.appPanelInformation.appPanelCode  'admin-panel')}}
          {{#if accessRole}}
            <li>
              <a href="#pageSubmenu_{{menu.code}}" data-toggle="collapse" aria-expanded="true"
                 class="dropdown-toggle dropdown-toggle-header">{{nges-core/capitalize-first-letter menu.label}}</a>
              <hr style="margin-top: 1px; margin-bottom: 0px; background: #d3d3d3;">
              <ul class="list-unstyled collapse show" id="pageSubmenu_{{menu.code}}">

                {{!log menu}}
                {{#each menu.subMenuList as |subMenu menuIndex|}}

                  <li class="">
                    {{#link-to
                      'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader.index'
                      'module.code' 'module.code' 'serviceHolder.menuTreeTemplate.code' 'menu.code subMenu.code'
                      class="nav-link" }} {{nges-core/capitalize-first-letter subMenu.label}}
                    {{/link-to}}

                  </li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{/if}}
      {{/each}}


    </ul>

  </div>
</nav>



