
<center>
  <img src="/app-greetings-logo.png" style="margin-top: 100px" width="50%">
</center>
<br>
<br>
<h1 style="text-align: center;">Welcome To {{appName}}</h1>



<!--
<h1 style="text-align: center;">{{t "grettings"}} </h1>

{{!--<h1>{{t "price_banner" product="Mobile" price="10" number="1" BDT="Tk" }}</h1> --}}



<center>

  <button  {{action  changeLocaleENG}}> ENG</button>
  <button  {{action  changeLocaleBNG}}> BNG</button>
</center>
-->
