<style>

  .form-group {
    position: relative;
    min-width: 0;
  }

  .has-search .input-field {
    padding-left: 4.275rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    line-height: 1.875rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .table-all thead th {
    color: black;
    font-size: 12px;
    font-weight: bolder;
    padding-right: 2.80rem;
    line-height: normal;

    border-collapse: separate;
    border-top: 1px solid #EDEEEF;
    border-bottom: 1px solid #EDEEEF;
  }

  .table-all td {
    color: #3e3e3c;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    line-height: normal;
  }

  .table-bordered {
    width: auto;
    border-collapse: separate;
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
  }

  .table-data {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>


<br>

<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <label class="layout-header-title">User Roles</label>
      <hr class="header-label-line">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="input-field" onkeyup={{action 'getFilterKey' value='target.value'}}
                   placeholder="Type to Search">
          </div>

          <div class="table-container"
               style="overflow-y: auto; max-height: 250px; overflow-x: auto;">
            <table class="table-all">
              <thead>
              <tr class="line-height-reset">
                <th class="table-data table-bordered">
                  <div>
                    Id
                  </div>
                </th>
                <th class="table-data table-bordered">
                  <div>
                    Name
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Action
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>


              {{#each roleList as |item index|}}
                <tr>
                  <td class="table-data table-bordered">
                    <div>
                      {{item.attributes.id}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <div>
                      {{item.attributes.name}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <button data-toggle="modal" data-target="#actionEventModal" {{action 'editActionEvent' item }}
                            class="nges-button nges-button-success">Edit
                    </button>
                  </td>
                </tr>
              {{/each}}

              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <div id="actionEventInfo" class="adjust-card-style field-form max-width" method="post">
            <div class="row">
              <div class="col-md-3">
                <label for="name" class="input-field-label">Name</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="role"  name="role"
                        placeholder="Enter Role Name"
                        value=name}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="code" class="input-field-label">Code</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="roleCode" name="roleCode"
                        placeholder="Role Code"  value=(nges-engines/auth-engine/code-generator name)}}
              </div>


            </div>

            <div class="row">
              <div class="col-md-3">
                <label for="description" class="input-field-label">Description</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="roleDescription" name="roleDescription"
                        placeholder="Enter Description" value=description}}
              </div>


            </div>

            <div class="form-btn-container float-right">
              <div class="nges-button nges-button-success" style="width: 100px;" {{action "save"}}>
                Save
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>

    </div>

  </div>
</div>