<style>

  .form-group {
    position: relative;
    min-width: 0;
  }

  .has-search .input-field {
    padding-left: 4.275rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    line-height: 1.875rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

</style>

<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <label class="layout-header-title">User Roles</label>
      <hr class="header-label-line">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="input-field" onkeyup={{action 'getFilterKey' value='target.value'}}
                   placeholder="Type to Search">
          </div>

          <div class="table-all" style="overflow-y: auto; max-height: 250px;">
            <table class="table-all">
              <thead>
              <tr class="line-height-reset">
                <th class="table-data table-bordered">
                  <div>
                    Id
                  </div>
                </th>
                <th class="table-data table-bordered">
                  <div>
                    Name
                  </div>
                </th>

                <th class="table-data table-bordered">
                  <div>
                    Action
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>


              {{#each roleList as |item index|}}
                <tr>
                  <td class="table-data table-bordered">
                    <div>
                      {{item.attributes.id}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <div>
                      {{nges-core/capitalize-first-letter item.attributes.name}}
                    </div>
                  </td>
                  <td class="table-data table-bordered">
                    <center>
                      <button data-toggle="modal" data-target="#actionEventModal" style="width: 100px;" {{action
                        'editActionEvent' item }}
                              class="nges-button nges-button-success">Edit
                      </button>
                    </center>
                  </td>
                </tr>
              {{/each}}

              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <div id="actionEventInfo" class="adjust-card-style field-form max-width" method="post">
            <label class="instruction-label" style="font-size: 16px">Registration</label>

            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label class="input-field-label">Organization</label>
                </div>

                <div class="col-sm-9">

                  <select class="form-control" onchange={{action "onChangeOrganization" value='target.value'}} >
                    <option>Select Entity</option>
                    {{#each entityList as |entity|}}
                      <option value={{nges-core/json entity}}>{{entity.name}}</option>
                    {{/each}}
                  </select>

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  <label class="input-field-label">Application</label>
                </div>

                <div class="col-sm-9">

                  <select class="form-control" onchange={{action "onChangeApplication" value='target.value'}} >
                    <option>Select Application</option>
                    {{#each appList as |application|}}
                      <option value={{nges-core/json application}}>{{application.attributes.name}}</option>
                    {{/each}}
                  </select>

                </div>
              </div>
            </div>

            <div class="row" style="margin-top: 4px;">
              <div class="col-md-3">
                <label for="name" class="input-field-label">Name</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="role"  name="role"
                        placeholder="Enter Role Name"
                        value=name}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="code" class="input-field-label">Code</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="roleCode" name="roleCode"
                        placeholder="Role Code"  value=(nges-engines/auth-engine/code-generator name)}}
              </div>


            </div>
            <div class="row">
              <div class="col-md-3">
                <label for="description" class="input-field-label">Description</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="roleDescription" name="roleDescription"
                        placeholder="Enter Description" value=description}}
              </div>


            </div>
            <div class="form-btn-container float-right">
              <div class="nges-button nges-button-success" style="width: 100px;" {{action "save"}}>
                Save
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>

    </div>

  </div>
</div>