<style>
  .form-group {
    position: relative;
    min-width: 0;
  }

  .has-search .input-field {
    padding-left: 4.275rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 4.375rem;
    height: 4.375rem;
    line-height: 1.475rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .muliti-select-item {
    padding: 0.25rem 0.25rem;
    color: #3e3e3c;
    font-size: .75rem;
    white-space: nowrap;
  }

</style>



<div class="card">
  <div class="card-body">
    <div class="col-md-12">
      <h4 class="layout-header-title">User Profiles</h4>
      <hr class="header-label-line">
      <div class="row">
        <div class="col-md-6">

          <div class="col">
            <div class="table-container"
                 style="overflow-y: auto; max-height: 350px; overflow-x: auto; padding:1rem; margin-top:15px;">
              <table class="table-all">
                <thead>
                <tr class="line-height-reset">
                  <th class="table-data table-bordered">
                    <div>
                      Entity
                    </div>
                  </th>
                  <th class="table-data table-bordered">
                    <div>
                      Application
                    </div>
                  </th>
                  <th class="table-data table-bordered">
                    <div>
                      Role
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                {{#each userApplicationsList as |item index|}}
                  <tr>
                    <td class="table-data table-bordered">
                      <div>
                        {{item.entityHierarchy.id}}
                      </div>
                    </td>
                    <td class="table-data table-bordered">
                      <div>
                        {{item.application.id}}
                      </div>
                    </td>

                    <td class="table-data table-bordered">
                      <div>

                        {{#each item.roles as |value|}}
                          <span>{{value.name}},</span><br>
                        {{/each}}
                        <!--<button data-toggle="modal" data-target="#actionEventModal" {{action 'editActionEvent' item }}
                                style="width: 100px; margin-bottom: 5px" class="button-all button-edit">Edit
                        </button>-->
                        <!--<button {{action 'deleteActionEvent'
                                             item }} style="width: 100px; margin-bottom: 5px" class="button-all button-danger">Delete</button>-->
                      </div>
                    </td>
                  </tr>
                {{/each}}

                </tbody>
              </table>
            </div>
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="input-field" onkeyup={{action 'getFilterKey' value='target.value'}}
                     placeholder="Type to Search">
            </div>
            <div class="table-container"
                 style="overflow-y: auto; max-height: 350px; overflow-x: auto;">
              <table class="table-all">
                <thead>
                <tr class="line-height-reset">
                  <th class="table-data table-bordered">
                    <div>
                      Id
                    </div>
                  </th>
                  <th class="table-data table-bordered">
                    <div>
                      Display Name
                    </div>
                  </th>
                  <th class="table-data table-bordered">
                    <div>
                      Email
                    </div>
                  </th>
                  <th class="table-data table-bordered">
                    <div>
                      Account Status
                    </div>
                  </th>
                  <th class="table-data table-bordered">
                    <div>
                      Role
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                {{#each userList as |item index|}}
                  <tr>
                    <td class="table-data table-bordered">
                      <div>
                        {{item.attributes.id}}
                      </div>
                    </td>
                    <td class="table-data table-bordered">
                      <div>
                        {{nges-core/capitalize-first-letter item.attributes.name}}
                      </div>
                    </td>
                    <td class="table-data table-bordered">
                      <div>
                        {{item.attributes.email}}
                      </div>
                    </td>

                    <td class="table-data table-bordered">
                      <div>
                        {{nges-core/check-account-status item.attributes.enabled}}
                      </div>
                    </td>
                    <td class="table-data table-bordered">
                      <div>

                        {{#each item.attributes.roles as |value|}}
                          <span>{{nges-core/capitalize-first-letter value.name}},</span><br>
                        {{/each}}
                        <!--<button data-toggle="modal" data-target="#actionEventModal" {{action 'editActionEvent' item }}
                                style="width: 100px; margin-bottom: 5px" class="button-all button-edit">Edit
                        </button>-->
                        <!--<button {{action 'deleteActionEvent'
                                             item }} style="width: 100px; margin-bottom: 5px" class="button-all button-danger">Delete</button>-->
                      </div>
                    </td>
                  </tr>
                {{/each}}

                </tbody>
              </table>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div id="actionEventInfo" class="adjust-card-style field-form max-width" method="post">
            <label class="instruction-label" style="font-size: 16px">Registration</label>
            <div class="row" style="margin-top: 4px;">
              <div class="col-md-3">
                <label for="name" class="input-field-label">Display Name</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="user"  name="user"
                        placeholder="Enter User Name"
                        value=name }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label for="name" class="input-field-label">User Name</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="userUnique"  name="user"
                        placeholder="Enter an Unique Name"
                        value=uniqueName }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
                <label for="code" class="input-field-label">Email</label>
              </div>
              <div class="col-md-9">
                {{input type="text" class="input-field" id="userEmail" name="userEmail"
                        placeholder="Enter Email" value=email}}
              </div>
            </div>


            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="input-field-label">Organization</label>
                </div>

                <div class="col-sm-4">

                  <select class="form-control" onchange={{action "onChangeEntity" value='target.value'}} >
                    <option>Select Entity</option>
                    {{#each entityList as |entity|}}
                      <option value={{nges-core/json entity}}>{{entity.name}}</option>
                    {{/each}}
                  </select>

                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-2">
                  <label class="input-field-label">Application</label>
                </div>

                <div class="col-sm-4">

                  <select class="form-control" onchange={{action "onChangeApplication" value='target.value'}} >
                    <option>Select Application</option>
                    {{#each appList as |application|}}
                      <option value={{nges-core/json application}}>{{application.attributes.name}}</option>
                    {{/each}}
                  </select>

                </div>
              </div>
            </div>

            <div>
              <label for="name" class="input-field-label">Select Roles</label>
              <select class="custom-select" id="userRole" multiple>
                {{#each roleList as |item index|}}
                  <option class="muliti-select-item" value={{item.attributes.id}}
                          name={{item.attributes.name}}>{{nges-core/capitalize-first-letter item.attributes.name}}</option>
                {{/each}}
              </select>
            </div>

            <div class="row" style="margin-left:2px; margin-top: 9px;">
              <div class="form-check" >
                <label class="form-check-label input-field-label">
                  {{input type="checkbox" class="form-check-input" id="isEnabled"  name="option1" checked=true}}
                  Account Enabled
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label input-field-label">
                  {{input type="checkbox" class="form-check-input" id="accLocked"  name="option1"}}Account Locked
                </label>
              </div>
            </div>
            <div class="row" style="margin-left:2px;">
              <div class="form-check">
                <label class="form-check-label input-field-label">
                  {{input type="checkbox" class="form-check-input" id="accExpired"  name="option1"}}Account Expired
                </label>
              </div>

              <div class="form-check">
                <label class="form-check-label input-field-label">
                  {{input type="checkbox" class="form-check-input" id="credentialExpired"  name="option1"}}Credential
                  Expired
                </label>
              </div>
            </div>

            <div class="form-btn-container float-right">
              <div class="nges-button nges-button-success" style="width: 100px; margin-bottom: 5px" {{action
                "add"}}>
                ADD
              </div>
              <div class="nges-button nges-button-success" style="width: 100px; margin-bottom: 5px" {{action
                "save"}}>
                Save
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>