{{yield}}
<style>

  .te-bottom-hr-line {
    border: 0;
    max-width: 70%;
    margin-left: 0;
    margin-top: -2px;
    border-top: 2px solid;
    border-color: #666666;
  }


</style>

<div class="card">
  <div class="card-body">
    <div>
      <h1 style="font-size: 20px" class="layout-header-title">User Exception Permission</h1>
      <hr class="header-label-line">
    </div>


    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label" style="margin-top: 10px;">Entity</label>
          </div>
          <div class="col-md-9">
            <select class="input-field" onchange={{action "onChangeEntity" value="target.value"}} >
              <option>Select Entity</option>

              {{#each entityList as |entity|}}
                <option value={{json entity}}>{{entity.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label" style="margin-top: 15px;">Organization</label>
          </div>
          <div class="col-md-9">
            <select class="input-field" onchange={{action "onChangeOrganization" value="target.value"}} >
              <option>Select Organization</option>

              {{#each orgList as |org|}}
                <option value={{json org}}>{{org.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label" style="margin-top: 15px;">Application</label>
          </div>
          <div class="col-md-9">
            <select class="input-field" onchange={{action "onChangeApplication" value="target.value"}} >
              <option>Select Application</option>

              {{#each appList as |app|}}
                <option value={{json app}}>{{app.attributes.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label">OLM Object</label>
          </div>
          <div class="col-md-9">


            {{nges-core/nges-searchable-dropdown
              dataList=classtypes
              message="Select OLM Object"
              autocompleteOnSelect=(action 'onChangeClassTypes')
            }}


            {{!--<select class="js-select2" style="z-index: +999999; position: absolute"
                    onchange={{action (mut selectedClassType) value="target.value"}} >

              <option>Select OLM Object</option>

              {{#each classtypes as |item|}}
                <option value={{nges-engines/tree-engine/object-to-string  item}}>{{item.attributes.name}}</option>
              {{/each}}
            </select>--}}
          </div>
        </div>

        <div class="row" style="margin-top:-14px;">
          <div class="col-md-3">
            <label class="input-field-label">Role</label>
          </div>
          <div class="col-md-9">


            <!--todo:: if update endpint with json api then just uncomment and remove below -->
            {{!--nges-core/nges-searchable-dropdown
              dataList=listUserRoles
              message="Select Roles"
              autocompleteOnSelect=(action 'onChangeRoles')
            --}}

            <select class="form-control" onchange={{action (mut selectedRole) value='target.value'}} >
              <option>Select Roles</option>
              {{#each listUserRoles as |value|}}
                <option value={{value.id}}>{{nges-core/capitalize-first-letter value.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label">Data Context</label>
          </div>
          <div class="col-md-9">
            <select class="form-control" onchange={{action 'onChangeDataContext' value='target.value'}} >
              <option value="none">Select Data Context</option>
              <option value="functionsWise">Functions Wise</option>
              <option value="locationWise">Location Wise</option>
            </select>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        {{!nges-engines/tree-engine/object-to-string  dataContextTree}}

        <div class="card">
          <div class="card-body">
            <div
              style="overflow-y: auto; max-height: 500px; overflow-x: auto; color: #333339;">
              <li style="list-style: none; ">{{dataContextTree.name}}</li>
              {{nges-elements/data-context-tree-maker
                dataContextTree=dataContextTree.children
                treeDataModifiedAction = (action 'treeDataModifiedAction')
              }}
            </div>
            {{#if dataContextTree.children}}
              <button {{action 'saveSelectedResult' }} class="nges-button nges-button-success float-right">Save
                Information
              </button>
            {{/if}}
            <br>
          </div>
        </div>


      </div>

    </div>
  </div>
</div>