{{yield}}
<style>

  .te-bottom-hr-line {
    border: 0;
    max-width: 70%;
    margin-left: 0;
    margin-top: -2px;
    border-top: 2px solid;
    border-color: #666666;
  }

  .te-button-all {
    position: relative;
    display: inline-block;
    padding: 0;
    background: transparent;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.275rem;
    text-decoration: none;
    //color: #0070d2;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .75rem;
    white-space: nowrap;
    position: relative;
  }

  .te-button-save {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 200;
    text-align: center;
    vertical-align: middle;
    background-color: #123F62;
    border-color: #123F62;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    color: #E8F0FE;
  }

  .te-button-save:hover {
    background-color: #12466b;
    border-color: #12466b;
    color: #fff;
    cursor: pointer;
  }

</style>

<div class="card">
  <div class="card-body">
    <div>
      <h1 style="font-size: 20px" class="layout-header-title">User Exception Permission</h1>
      <hr class="header-label-line">
    </div>


    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label">OLM Object</label>
          </div>
          <div class="col-md-9">


            {{nges-core/nges-searchable-dropdown
              dataList=classtypes
              message="Select OLM Object"
              autocompleteOnSelect=(action 'onChangeClassTypes')
            }}


            {{!--<select class="js-select2" style="z-index: +999999; position: absolute"
                    onchange={{action (mut selectedClassType) value="target.value"}} >

              <option>Select OLM Object</option>

              {{#each classtypes as |item|}}
                <option value={{nges-engines/tree-engine/object-to-string  item}}>{{item.attributes.name}}</option>
              {{/each}}
            </select>--}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <label class="input-field-label">Role</label>
          </div>
          <div class="col-md-9">


            <!--todo:: if update endpint with json api then just uncomment and remove below -->
            {{!--nges-core/nges-searchable-dropdown
              dataList=listUserRoles
              message="Select Roles"
              autocompleteOnSelect=(action 'onChangeRoles')
            --}}

            <select class="form-control" onchange={{action (mut selectedRole) value='target.value'}} >
              <option>Select Roles</option>
              {{#each listUserRoles as |value|}}
                <option value={{value.id}}>{{value.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>


        <div class="row" style="margin-top: 5%">
          <div class="col-md-3">
            <label class="input-field-label">Data Context</label>
          </div>
          <div class="col-md-9">
            <select class="form-control" onchange={{action 'onChangeDataContext' value='target.value'}} >
              <option value="none">Select Data Context</option>
              <option value="functionsWise">Functions Wise</option>
              <option value="locationWise">Location Wise</option>
            </select>
          </div>
        </div>

      </div>

      <div class="col-md-6">
        {{!nges-engines/tree-engine/object-to-string  dataContextTree}}

        <div
          style="overflow-y: auto; max-height: 500px; overflow-x: auto; background: #F5F5F5; padding: 10px; color: #333339;">
          <li style="list-style: none; ">{{dataContextTree.name}}</li>
          {{nges-elements/data-context-tree-maker
            dataContextTree=dataContextTree.children
            treeDataModifiedAction = (action 'treeDataModifiedAction')
          }}
        </div>



        {{#if dataContextTree.children}}
          <hr class="te-bottom-hr-line" style="margin-left: 30%;">
          <button {{action 'saveSelectedResult' }} class="te-button-all te-button-save float-right">Save Information</button>
        {{/if}}

      </div>

    </div>
  </div>
</div>