<style>

  .rms-bottom-hr-line {
    border: 0;
    max-width: 70%;
    margin-left: 0;
    margin-top: -8px;
    border-top: 2px solid;
    border-color: #666666;
  }
legend {
    font-family: arial;
    color: #666;
    background: #eee;
    border: 3px solid #ccc;
    border-bottom-color: #999;
    border-right-color: #999;
    padding: 6px 8px;
  }
</style>


<div class="card">
  <div class="card-body">
    <h1 class="layout-header-title">{{t "Remitter Registration"}}</h1>
    <hr class="header-label-line">
    <form class="form-horizontal">

      {{nges-core/nges-input-component
        type='text'
        input-field-name="Id"
        model=model
        valuePath='remId'
        placeholder='[Auto]'
        readonly="true"
        sectionFirst = 'col-sm-2'
        sectionLast = 'col-sm-4'
        didValidate=didValidate}}

      <div class="form-group">
        <div class="row">
          <div class="col-sm-2">
            <label class="input-field-label">{{t "Type"}}</label>
          </div>

          <div class="col-sm-3">
            {{#if selectedType.label}}
              <label style="font-size: 12px;">{{selectedType.label}}</label>
            {{/if}}

            {{nges-core/nges-searchable-dropdown
              dataList=remittanceType
              message = "Select Type"
              autocompleteOnSelect=(action 'onChangeTypes')
            }}

          </div>
        </div>
      </div>

 <div style="margin-top: -1%;">
   {{nges-core/nges-input-component
        type='text'
        input-field-name="Name"
        model=model
        valuePath='remitterName'
        placeholder='Remitter Name'
        sectionFirst = 'col-sm-2'
        sectionLast = 'col-sm-4'
        didValidate=didValidate}}
 </div>
      

      {{nges-core/nges-input-component
        type='text'
        input-field-name="Name of Father"
        model=model
        valuePath='fathersName'
        placeholder='Name of Father'
        sectionFirst = 'col-sm-2'
        sectionLast = 'col-sm-4'
        didValidate=didValidate}}


      {{nges-core/nges-input-component
        type='text'
        input-field-name="Name of Mother"
        model=model
        valuePath='mothersName'
        placeholder='Name of Mother'
        sectionFirst = 'col-sm-2'
        sectionLast = 'col-sm-4'
        didValidate=didValidate}}


      <div class="row" >
        <div class="col-md-6">
          {{nges-core/nges-input-component
            type='date'
            input-field-name="Date of Birth"
            model=model
            valuePath='dob'
            placeholder='Date of Birth'
            sectionFirst = 'col-sm-4'
            sectionLast = 'col-sm-6'
            didValidate=didValidate}}
 
        </div>
        <div class="col-md-6">
          <div class="row">

            <div class="col-sm-3">
              <label class="input-field-label">{{t "Choose Nationality"}}</label>
            </div>

            <div class="col-sm-7">
              {{#if selectedNationality.label}}
                <label style="font-size: 12px;">{{selectedNationality.label}}</label>
              {{/if}}

              {{nges-core/nges-searchable-dropdown
                dataList=countryList
                message = "Select Nationality"
                autocompleteOnSelect=(action 'onChangeNationality')
              }}
            </div>
          </div>

        </div>
      </div>
<div class="form-group" style="margin-top: -1%;">
  <div class="row">
        <div class="col-md-6">
          {{nges-core/nges-input-component
            type='text'
            input-field-name="Mobile Number"
            model=model
            valuePath='mNumber'
            placeholder='Mobile Number'
            sectionFirst = 'col-sm-4'
            sectionLast = 'col-sm-8'
            didValidate=didValidate}}
        </div>

        <div class="col-md-6">
          {{nges-core/nges-input-component
            type='text'
            input-field-name="Email"
            model=model
            valuePath='email'
            placeholder='Email Address'
            sectionFirst = 'col-sm-3'
            sectionLast = 'col-sm-7'
            didValidate=didValidate}}
        </div>
      </div>
</div>
      


      <div class="form-group" style="margin-top: -1%;">
        <div class="row">
          <div class="col-sm-2">
            <label class="input-field-label">{{t "Nature of Job"}}</label>
          </div>
          <div class="col-sm-3">
            {{#if selectedNOJ.label}}
              <label style="font-size: 12px;">{{selectedNOJ.label}}</label>
            {{/if}}

            {{nges-core/nges-searchable-dropdown
              dataList=jobNature
              message = "Select Nature of Job"
              autocompleteOnSelect=(action 'onChangeJobNature')
            }}

          </div>
        </div>
      </div>

<div class="form-group" style="margin-top: -1%;">
  <div class="row">
        <div class="col-md-6">
          {{nges-core/nges-input-component
            type='number'
            input-field-name="Income Range"
            model=model
            valuePath='incomeRange'
            placeholder='Income Range'
            sectionFirst = 'col-sm-4'
            sectionLast = 'col-sm-8'
            didValidate=didValidate}}
        </div>
        <div class="col-md-6">
          {{nges-core/nges-input-component
            type='number'
            input-field-name="Yearly Expected Vol. of Remittance"
            model=model
            valuePath='expetedRemitance'
            placeholder='Expected Remittance'
            sectionFirst = 'col-sm-3'
            sectionLast = 'col-sm-7'
            didValidate=didValidate}}
        </div>
      </div>
</div>
      
<div style="margin-top: -1%;">
  {{nges-core/nges-input-component
        type='text'
        input-field-name="Remarks"
        model=model
        valuePath='remarks'
        placeholder='Remarks'
        sectionFirst = 'col-sm-2'
        sectionLast = 'col-sm-4'
        didValidate=didValidate}}

</div>
      

      <fieldset>
        <legend class="input-field-label">{{t "Present Address"}}</legend>


        <div>
          {{nges-core/nges-input-component
            type='text'
            input-field-name="Address 1"
            model=model
            valuePath='address1'
            placeholder='Address 1'
            sectionFirst = 'col-sm-2'
            sectionLast = 'col-sm-4'
            didValidate=didValidate}}
        </div>
        <div>
          {{nges-core/nges-input-component
            type='text'
            input-field-name="Address 2"
            model=model
            valuePath='address2'
            placeholder='Address 2'
            sectionFirst = 'col-sm-2'
            sectionLast = 'col-sm-4'
            didValidate=didValidate}}
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <label class="input-field-label">{{t "Country"}}</label>
            </div>

            <div class="col-sm-3">
              {{#if selectedCountry.label}}
                <label style="font-size: 12px;">{{selectedCountry.label}}</label>
              {{/if}}

              {{nges-core/nges-searchable-dropdown
                dataList=countryList
                message = "Select Country"
                autocompleteOnSelect=(action 'onChangeCountry')
              }}
            </div>
          </div>
        </div>

        <div class="form-group" style="margin-top: -1%;">
          <div class="row">
            <div class="col-sm-2">
              <label class="input-field-label">{{t "State/District"}}</label>
            </div>

            <div class="col-sm-3">
              {{#if selectedState.label}}
                <label style="font-size: 12px;">{{selectedState.label}}</label>
              {{/if}}

              {{nges-core/nges-searchable-dropdown
                dataList=stateList
                message = "Select State/District"
                autocompleteOnSelect=(action 'onChangeStateOrDistrict')
              }}
            </div>
          </div>
        </div>

<div style="margin-top: -1%;">
  {{nges-core/nges-input-component
          type='text'
          input-field-name="City/Town"
          model=model
          valuePath='cityOrTown'
          placeholder='Enter City/Town Name'
          sectionFirst = 'col-sm-2'
          sectionLast = 'col-sm-4'
          didValidate=didValidate}}
          </div>
        


        {{nges-core/nges-input-component
          type='text'
          input-field-name="Zip Code"
          model=model
          valuePath='zipCode'
          placeholder='Zip Code'
          sectionFirst = 'col-sm-2'
          sectionLast = 'col-sm-4'
          didValidate=didValidate}}

        {{nges-core/nges-input-component
          type='text'
          input-field-name="Proof of Address"
          model=model
          valuePath='proofOfAddress'
          placeholder='Proof of Address'
          sectionFirst = 'col-sm-2'
          sectionLast = 'col-sm-4'
          didValidate=didValidate}}

      </fieldset>

      <br>

      <fieldset>
        <legend class="input-field-label" >{{t "Primary Photo ID"}}</legend>

        <div class="form-group"  >
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <label class="input-field-label">{{t "Type"}}</label>
                </div>

                <div class="col-sm-6">
                  {{#if selectedPrimaryPhotoType.label}}
                    <label style="font-size: 12px;">{{selectedPrimaryPhotoType.label}}</label>
                  {{/if}}

                  {{nges-core/nges-searchable-dropdown
                    dataList=photoIdType
                    message = "Select Type"
                    autocompleteOnSelect=(action 'onChangePrimaryPhotoType')
                  }}

                </div>
              </div>

 <div style="margin-top: -1%;">
{{nges-core/nges-input-component
                type='text'
                input-field-name="ID No 1"
                model=model
                valuePath='primaryPhotoId'
                placeholder='Id'
                sectionFirst = 'col-sm-4'
                sectionLast = 'col-sm-8'
                didValidate=didValidate}} 
</div>
              
<div style="margin-top: -1%;">
  {{nges-core/nges-input-component
                type='date'
                input-field-name="Issue 1"
                model=model
                valuePath='primaryPhotoIssue'
                placeholder='Issue'
                sectionFirst = 'col-sm-4'
                sectionLast = 'col-sm-8'
                didValidate=didValidate}}


</div>
              
<div style="margin-top: -1%;">
{{nges-core/nges-input-component
                type='date'
                input-field-name="Expiry 1"
                model=model
                valuePath='primaryPhotoExpiry'
                placeholder='Expiry'
                sectionFirst = 'col-sm-4'
                sectionLast = 'col-sm-8'
                didValidate=didValidate}}
</div>
              

            </div>
            <!--<div class="col-sm-6">
              <h2>Image Choose Option</h2>
            </div>-->
          </div>
        </div>

      </fieldset>


      <br>

      <fieldset>
        <legend class="input-field-label">{{t "Secondary Photo ID"}}</legend>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <label class="input-field-label">{{t "Type"}}</label>
                </div>

                <div class="col-sm-6">
                  {{#if selectedSecondaryPhotoType.label}}
                    <label style="font-size: 12px;">{{selectedSecondaryPhotoType.label}}</label>
                  {{/if}}

                  {{nges-core/nges-searchable-dropdown
                    dataList=photoIdType
                    message = "Select Type"
                    autocompleteOnSelect=(action 'onChangeSecondaryPhotoType')
                  }}

                </div>
              </div>

               <div style="margin-top: -1%;">
{{nges-core/nges-input-component
                type='text'
                input-field-name="ID No 2"
                model=model
                valuePath='secondaryPhotoId'
                placeholder='ID'
                sectionFirst = 'col-sm-4'
                sectionLast = 'col-sm-8'
                didValidate=didValidate}}
               </div>
              

              {{nges-core/nges-input-component
                type='date'
                input-field-name="Issue 2"
                model=model
                valuePath='secondaryPhotoIssue'
                placeholder='Issue'
                sectionFirst = 'col-sm-4'
                sectionLast = 'col-sm-8'
                didValidate=didValidate}}


              {{nges-core/nges-input-component
                type='date'
                input-field-name="Expiry 2"
                model=model
                valuePath='secondaryPhotoExpiry'
                placeholder='Expiry'
                sectionFirst = 'col-sm-4'
                sectionLast = 'col-sm-8'
                didValidate=didValidate}}
            </div>
            <!--<div class="col-sm-6">
              <h2>Image Choose Option</h2>
            </div>-->
          </div>
        </div>
      </fieldset>

      <br>

      <fieldset>
        <legend class="input-field-label">{{t "Risk Status"}}</legend>
        <div class="form-group">

          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <label class="input-field-label">{{t "Risk"}}</label>
                </div>
                <div class="col-sm-6">
                  {{#if selectedRisk.label}}
                    <label style="font-size: 12px;">{{selectedRisk.label}}</label>
                  {{/if}}

                  {{nges-core/nges-searchable-dropdown
                    dataList=riskType
                    message = "Select Risk"
                    autocompleteOnSelect=(action 'onChangeRisk')
                  }}
                </div>
              </div>

            </div>
          </div>
<style>
table {
  border-collapse: collapse;
}

table, td, th, thead {
  border: solid #0a0a0a;
}
</style>
          <div class="row"  style="margin-top: -1%;">
            <div class="col-sm-2">
              <label class="input-field-label">{{t "Sanction Screening"}}</label>
            </div>
            <div class="col-sm-9">
              <table class="table-all">
                
               <thead>
                <th>Source</th>
                <th>Name</th>
                <th>Country</th>
                <th>Date of Birth</th>
                <th>Father Name</th>
                <th>Score</th>
                </thead>
                <tbody>
                <td>{{source}}</td>
                <td>{{name}}</td>
                <td>{{country}}</td>
                <td>{{dob}}</td>
                <td>{{fname}}</td>
                <td>{{score}}</td>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </fieldset>


      <br>
      <!--only MLRO will see this fieldset-->
      {{#if showMLROReview}}
        <fieldset>
          <legend class="input-field-label">{{t "MLRO Comment"}}</legend>
          <div class="row">
            <div class="col-sm-3">
              <label class="form-check-label input-field-label" style="margin-left: 15px;">
                <input type="checkbox" class="form-check-input" onclick="myFunction()" style="margin-top: 14px;">
                <label class="input-field-title" style="margin-top: 12px;">False Positive</label>
              </label>
            </div>
            <div class="col-sm-6">
              <div>
                {{nges-core/nges-input-component
                  type='text'
                  input-field-name="MLRO Comment"
                  model=model
                  valuePath='mlroComment'
                  placeholder='MLRO Comment'
                  sectionFirst = 'col-sm-4'
                  sectionLast = 'col-sm-8'
                  didValidate=didValidate}}
              </div>
            </div>

          </div>

        </fieldset>
      {{/if}}

      {{#if showPropertyExtender}}

        {{nges-engines/property-extender/add-property
          attributeList=attributeList
        }}

      {{/if}}

      {{#if showAlert}}
        <div class='alert'>
          <div class='fa fa-times icon-remove' {{action 'toggleProperty' 'showAlert'}}></div>
          <h1 style="color: red; font-size: 12px">{{t "Please fix all the errors above before continuing."}}</h1>
        </div>
      {{/if}}

      {{#if isValid}}
        <span class='valid-input fa fa-check'><h1 style="color: red;font-size: 12px">{{t "Error Message"}}</h1></span>
      {{/if}}

      <br>
      <hr class="rms-bottom-hr-line">

      <!--<select onChange={{action 'onSelectedSingleState' value="target.value"}} >
          <option value="">--Select Action Event--</option>
          {{#each stateActions as |state|}}
            <option value="{{state.attributes.id}}">{{state.attributes.name}}</option>
          {{/each}}
        </select>-->

      <br>
      {{#if actionAccess}}
        <button id='status_check' class="nges-button nges-button-success" {{action 'updateAction'}}>{{t "Submit"}}</button>
        <button id='status_check' class="nges-button nges-button-success" {{action 'propertyExtend'}}>{{t "Additional
          Property"}}
        </button>
      {{else}}

      {{!nges-core/nges-link-to
        route = 'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader'
        routePath = 'create-remitter'
        label =  'Remitter Registration'
      }}

        <button id='save' class="nges-button nges-button-success" {{action 'validate'}}>{{t "Save"}}</button>
      {{/if}}
      <button id='status_check' class="nges-button nges-button-success" {{action 'checkRiskStatus'}}>{{t "Risk Status"}}
        Check
      </button>

      {{#each stateActions as |state|}}
        <button id='save' class="nges-button nges-button-success" {{action 'getNextAllowableStateIdForCurrentState'
                                                                           state.attributes.id}}>{{state.attributes.name}}</button>
      {{/each}}
      <!--<button id='duplicate_check' class="rms-button-all rms-button-save" {{action 'checkDuplicate'}}>Duplicate Check</button>-->

      <button id='clear' class="nges-button nges-button-success" {{action 'reset'}}>Clear</button>

    </form>
  </div>
</div>






{{!--nges-core/nges-link
  route = 'welcome.application-loader.panel-loader.module-loader.service-holder-loader.menu-template-loader.submenu-template-loader'
  routePath = 'remitter-reg'
  label =  'Remitter Registration'
  params = actionableRoute
--}}

