{{yield}}
<style>
  .checkbox-label{
    color: #6D6766;
    font-size: 0.75rem;
    font-weight: bold;
  }
</style>

{{#each dataContextTree as |item|}}
  <li class="checkbox-label" style="list-style: none;">

    <input type="checkbox"  checked={{item.isItThere}} onclick={{action
      (action treeDataModifiedAction item) value="target.checked"}}>
    {{item.name}}


    {{#if item.children}}
      <ul>
        {{nges-elements/data-context-tree-maker
          dataContextTree=item.children

          treeDataModifiedAction = treeDataModifiedAction
        }}
      </ul>
    {{/if}}

  </li>
{{/each}}
