<div class="card">
  <div class="card-body">
    <h1 class="layout-header-title">Search</h1>
    <hr class="header-label-line">

    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3">
              <label class="input-field-label">Attribute</label>
            </div>
            <div class="col-md-8">
              {{nges-core/nges-searchable-dropdown
                dataList=searchCriteria
                message = "Select Attribute"
                autocompleteOnSelect=(action 'onChangeSearchCriteria')
              }}

            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label class="input-field-label">State</label>
            </div>
            <div class="col-md-8">
              {{nges-core/nges-autocomplete
                dataList=stateList
                displayName='name'
                message='Select State'
                autocompleteOnSelect=(action 'onChangeSearchCriteria')
              }}

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-9">
              {{input type="text" class="input-field" id="role"  name="role"
                      placeholder="Enter Action Name" value=searchValue}}
            </div>
            <div class="col-md-2">
              <div class="nges-button nges-button-success" {{action "searchAction"}}>Search</div>
            </div>
          </div>

        </div>

      </div>
      {{nges-elements/search-common-grid

        activeTabInfo = activeTabInfo
        stateList = stateList
        defaultFunction = defaultFunction
        defaultLocation = defaultLocation
        stateActions = stateActions

        actionAccess = actionAccess
        serviceActionableRoute = serviceActionableRoute
        tabInformation=tabInformation

        tableData = tableData


      }}
    </div>
  </div>
</div>