<style>
  .rms-bottom-hr-line {
    border: 0;
    max-width: 70%;
    margin-left: 0;
    margin-top: -8px;
    border-top: 2px solid;
    border-color: #666666;
  }
</style>
<div class="">

  <div class="card">
    <div class="card-body">
      <h1 class="layout-header-title">Cover Fund Transaction</h1>
      <hr class="header-label-line">

      <form class="form-horizontal">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <label class="input-field-label">Exchange House</label>
            </div>

            <div class="col-sm-6">
              {{nges-core/nges-searchable-dropdown
                dataList=exchangeHouseList
                message = "Select Exchange House"
                autocompleteOnSelect=(action 'onChangeExchangeHouse')
              }}
            </div>
          </div>
        </div>





        {{nges-core/nges-input-component
          type='number'
          input-field-name="Input Amount"
          model=model
          valuePath='inputAmount'
          placeholder='Cover Amount'
          sectionFirst = 'col-sm-2'
          sectionLast = 'col-sm-4'
          didValidate=didValidate}}


        <br>
        <!--only MLRO will see this fieldset-->
        {{#if showMLROReview}}
          <fieldset>
            <legend>MLRO Review</legend>
            <div class="row">
              <div class="col-sm-2">
                <label class="form-check-label input-field-label" style="margin-left: 15px;">
                  <input type="checkbox" class="form-check-input" onclick="myFunction()" style="margin-top: 14px;">
                  <label class="input-field-title" style="margin-top: 12px;">False Positive</label>
                </label>
              </div>
              <div class="col-sm-6">
                <div>
                  {{nges-core/nges-input-component
                    type='text'
                    input-field-name="MLRO Comment"
                    model=model
                    valuePath='mlroComment'
                    placeholder='MLRO Comment'
                    sectionFirst = 'col-sm-4'
                    sectionLast = 'col-sm-8'
                    didValidate=didValidate}}
                </div>
              </div>

            </div>

          </fieldset>
        {{/if}}


        {{#if showAlert}}
          <div class='alert'>
            <div class='fa fa-times icon-remove' {{action 'toggleProperty' 'showAlert'}}></div>
            <h1 style="color: red; font-size: 12px">Please fix all the errors above before continuing.</h1>
          </div>
        {{/if}}

        {{#if isValid}}
          <span class='valid-input fa fa-check'><h1 style="color: red;font-size: 12px">Error Message</h1></span>
        {{/if}}
        <br>
        <hr class="rms-bottom-hr-line">
        <button id='save' class="nges-button nges-button-success" {{action 'validate'}}>Save</button>
        <!--<button id='status_check' class="nges-button nges-button-success" {{action 'checkRiskStatus'}}>Risk Status Check
        </button>-->

        {{#each stateActions as |state|}}
          <button id='save' class="nges-button nges-button-success" {{action 'getNextAllowableStateIdForCurrentState'
                                                                          state.attributes.id}}>{{state.attributes.name}}</button>
        {{/each}}


        <!--<button id='clear' class="rms-button-all rms-button-save" {{action 'reset'}}>Clear</button>-->

      </form>
    </div>
  </div>


</div>