<style>
  .width-400 {
    width: 296px;
  }

  .width-400 input {
    margin-top: 10px;
  }


  .login-box {
    box-shadow: 0 0 10px -1px gray;
    margin-top: 100px;
    /* padding: 50 px;*/
  }


  .show-password-label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: #666666;
    font-size: 0.75rem;
  }

</style>


<div class="container width-400 login-box" style="padding-left: 0; padding-right: 0;">
  <div class="login-logo-bg">
    <center>
      <img src="{{model.appLogo}}" style="max-height: 35%;max-width: 80%; padding: 15px">
    </center>
  </div>

  <form class="form-signin">
    <br>

    <div style="padding: 25px;margin-top: -8%">
      <div class="row">
        <div class="col-md-6">
          <h4 style="color: #adaaa7" class="" >Login</h4>
        </div>
        <div class="col-md-6" style="float: right;">
          {{#if isLoadingIconVisible}}
            <img src="/loading-icon.gif" style="height: 35px;width: 35px;float: right;margin-top: -10px;">
          {{/if}}
        </div>
      </div>

      <label for="inputName" class="sr-only">User name</label>
      <input id="inputName" placeholder="Name" class="form-control" value={{userInformation.name}}
             oninput={{action (mut userInformation.name) value="target.value"}}>


      <label for="inputPassword" class="sr-only">Password</label>
      <input id="inputPassword" type="password" placeholder="Password" class="form-control"
             value={{userInformation.password}}
             oninput={{action (mut userInformation.password) value="target.value"}}>


      <div class="row">
        <div class="col-md-6">
          <div class="form-check" style="margin-top: 2px">
            <label class="form-check-label show-password-label">
              <input type="checkbox" class="form-check-input" onclick="myFunction()" style="margin-top: 2px;">Show Password
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <h2  class="float-right" style="font-size:13px; color: #3C85BF; margin-top: 4px;">{{#link-to "forget-password"}}
            Forgot Password?{{/link-to}}</h2>
        </div>
      </div>






      <script>
        function myFunction() {
          var x = document.getElementById("inputPassword");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
      </script>


      <button class="nges-button nges-button-default float-right" style="margin-top: 10px; width: 100%;" {{action "signin" userInformation}}>
        Sign In
      </button>
      <br>
      <br>
    </div>

    {{!--  <a href="http://localhost:4400" target="_blank" class="btn btn-lg btn-warning btn-block"> Auth Server </a> --}}
  </form>

</div>

