<style>


  .width{
    width: 350px;
  }

  .width-400 input {
    margin-top: 10px;
  }

  .login-box {
    box-shadow: 0 0 10px -1px #8c8c8c;
    margin-top: 100px;
    /* padding: 50 px;*/
  }

</style>


<div class="container width login-box" style="padding-left: 0; padding-right: 0; background: #F4F4F4">
  <div class="login-logo-bg">
    <center>
      <img src="{{model.appLogo}}" style="max-height: 15%;max-width: 80%; padding: 15px">
    </center>
  </div>
  <form class="form-signin">
    <br>

    <div style="padding: 20px;margin-top: -4%">
      <div class="row">
        <div class="col-md-6">
          <h4 style="font-size: 1.35rem" class="instruction-label">Login</h4>
        </div>
        <div class="col-md-6" style="float: right;">
          {{#if isLoadingIconVisible}}
            <img src="/loading-icon.gif" style="height: 35px;width: 35px;float: right;margin-top: -10px;">
          {{/if}}
        </div>
      </div>

      <hr style="margin-top: -4%;">

      <label style="font-weight: bold; color: #373D42;font-size: 1.05rem">User</label>
      <input id="inputName" placeholder="Name" class="form-control" value={{userInformation.name}} style="margin-top: -2%;"
             oninput={{action (mut userInformation.name) value="target.value"}}>

      <br>

      <label style="font-weight: bold; color: #373D42;font-size: 1.05rem">Password</label>
      <input id="inputPassword" type="password" placeholder="Password" class="form-control" style="margin-top: -2%;"
             value={{userInformation.password}}
             oninput={{action (mut userInformation.password) value="target.value"}}>


      <div class="row">
        <div class="col-md-6">
          <div class="form-check" >
            <label class="form-check-label instruction-label" >
              <input type="checkbox" class="form-check-input" onclick="myFunction()" style="margin-top: 2px">Show
              Password
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <label class="instruction-label float-right" style="margin-top: 2px">{{#link-to
            "forget-password"}}
            Forgot Password?{{/link-to}}</label>
        </div>
      </div>


      <script>
        function myFunction() {
          var x = document.getElementById("inputPassword");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
      </script>

      <br>
      <button class="nges-button nges-button-success float-right" style="margin-top: 10px; width: 100%;" {{action
        "signin" userInformation}}>
        Sign In
      </button>
      <br>
      <br>
    </div>

    {{!--  <a href="http://localhost:4400" target="_blank" class="btn btn-lg btn-warning btn-block"> Auth Server </a> --}}
  </form>
</div>

